/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }

    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }

    .megamenu > .row [class*="col-"] {
        padding: 0;
    }

    .menu-area-main .megamenu .men-cat {
        padding: 0 15px;
    }

    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }

    .wish-box {
        float: none;
        margin: 0 30px;
        display: inline-block;
    }

    .menu-add {
        display: none;
    }

    .mean-container .mean-nav ul li ol {
        padding: 0;
    }

    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }

    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }

    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }

    .header-search {
        padding: 15px 0;
    }

}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {

    .megamenu > .row [class*="col-"] {
        padding: 0;
    }

    .menu-area-main .megamenu .men-cat {
        padding: 0 15px;
    }

    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }

    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }

    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0;
        text-transform: capitalize;
        width: 100%;
    }

    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }

    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }

    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header_section {
        background-size: cover;
    }

    .banner_taital {
        padding-top: 60px;
    }

    .image_main::after {
        height: 390px;
    }

    #my_slider a.carousel-control-next {
        left: 335px;
        top: 72%;
    }

    #my_slider a.carousel-control-prev {
        left: 335px;
        top: 84%;
    }

    .contact_section {
        background-size: cover;
    }

    .logo {
        width: 24%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_section {
        background-size: cover;
    }

    .logo {
        width: 50%;
    }

    /*.navbar-expand-lg .navbar-nav .nav-link {*/
    /*    display: block;*/
    /*    color: #272a2a;*/
    /*    text-align: center;*/
    /*}*/

    /*.navbar-light .navbar-nav .nav-link:focus,*/
    /*.navbar-light .navbar-nav .nav-link:hover {*/
    /*    color: #15e4d0;*/
    /*}*/

    /*.nav-link {*/
    /*    display: none;*/
    /*}*/

    /*.navbar {*/
    /*    padding: .5rem 15px;*/
    /*}*/

    .banner_taital {
        font-size: 50px;
        padding-top: 50px;
    }

    .contact_bt {
        width: 135px;
    }

    .more_bt a {
        padding: 7px 0;
    }

    .contact_bt a {
        padding: 7px 0;
    }

    .health_taital {
        font-size: 34px;
    }

    .health_text {
        font-size: 16px;
    }

    .text {
        padding: 12px 12px;
    }

    .image_main::after {
        display: none;
    }

    .main {
        margin: 40px 0 0 5px;
    }

    .middle {
        left: 50%;
    }

    .box_main {
        margin-bottom: 30px;
    }

    .getquote_bt a {
        margin-top: 0;
    }

    .contact_section {
        background-size: cover;
        padding-bottom: 90px;
    }

    .contact_taital {
        font-size: 40px;
    }

    .diabetes_text {
        width: 100%;
        font-size: 20px;
    }

    .icon_7 {
        width: 30%;
    }

    .book_text {
        font-size: 24px;
    }

    .contact_box {
        margin-top: 30px;
    }

    #my_slider a.carousel-control-next {
        display: none;
    }

    #my_slider a.carousel-control-prev {
        display: none;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .images_1 {
        display: none;
    }

    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }

    #main_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }

    .header_section {
        background-size: cover;
    }

    .logo {
        width: 50%;
    }

    /*.navbar-expand-lg .navbar-nav .nav-link {*/
    /*    display: block;*/
    /*    color: #272a2a;*/
    /*    text-align: center;*/
    /*}*/

    /*.navbar-light .navbar-nav .nav-link:focus,*/
    /*.navbar-light .navbar-nav .nav-link:hover {*/
    /*    color: #15e4d0;*/
    /*}*/

    /*.nav-link {*/
    /*    display: none;*/
    /*}*/

    /*.navbar {*/
    /*    padding: .5rem 15px;*/
    /*}*/

    .banner_taital {
        font-size: 50px;
        padding-top: 50px;
    }

    .contact_bt {
        width: 135px;
    }

    .more_bt a {
        padding: 7px 0;
    }

    .contact_bt a {
        padding: 7px 0;
    }

    .health_taital {
        font-size: 34px;
    }

    .health_text {
        font-size: 14px;
    }

    .text {
        padding: 12px 12px;
    }

    .image_main::after {
        display: none;
    }

    .main {
        margin: 40px 0 0 5px;
    }

    .middle {
        left: 50%;
    }

    .box_main {
        margin-bottom: 30px;
    }

    .getquote_bt a {
        margin-top: 0;
    }

    .contact_section {
        background-size: cover;
        padding-bottom: 90px;
    }

    .contact_taital {
        font-size: 35px;
    }

    .diabetes_text {
        width: 100%;
        font-size: 20px;
    }

    .icon_7 {
        width: 30%;
    }

    .book_text {
        font-size: 24px;
    }

    .contact_box {
        margin-top: 30px;
    }

    #my_slider a.carousel-control-next {
        display: none;
    }

    #my_slider a.carousel-control-prev {
        display: none;
    }

}

@media (max-width: 575px) {
    .images_1 {
        display: none;
    }

    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }

    #main_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }

    .header_section {
        background-size: cover;
    }

    .logo {
        width: 50%;
    }

    /*.navbar-expand-lg .navbar-nav .nav-link {*/
    /*    display: block;*/
    /*    color: #272a2a;*/
    /*    text-align: center;*/
    /*}*/

    /*.navbar-light .navbar-nav .nav-link:focus,*/
    /*.navbar-light .navbar-nav .nav-link:hover {*/
    /*    color: #15e4d0;*/
    /*}*/

    /*.nav-link {*/
    /*    display: none;*/
    /*}*/

    /*.navbar {*/
    /*    padding: .5rem 15px;*/
    /*}*/

    .banner_taital {
        font-size: 40px;
        padding-top: 50px;
    }

    .contact_bt {
        width: 135px;
    }

    .more_bt a {
        padding: 7px 0;
    }

    .contact_bt a {
        padding: 7px 0;
    }

    .health_taital {
        font-size: 19px;
    }

    .health_text {
        font-size: 16px;
    }

    .text {
        padding: 12px 12px;
    }

    .image_main::after {
        display: none;
    }

    .main {
        margin: 40px 0 0 5px;
    }

    .middle {
        left: 50%;
    }

    .box_main {
        margin-bottom: 30px;
    }

    .getquote_bt a {
        margin-top: 0;
    }

    .contact_section {
        background-size: cover;
        padding-bottom: 90px;
    }

    .contact_taital {
        font-size: 30px;
    }

    .diabetes_text {
        width: 100%;
        font-size: 20px;
    }

    .icon_7 {
        width: 30%;
    }

    .book_text {
        font-size: 24px;
    }

    .contact_box {
        margin-top: 30px;
    }

    #my_slider a.carousel-control-next {
        display: none;
    }

    #my_slider a.carousel-control-prev {
        display: none;
    }
}