/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(normalize.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins, serif;
    /*line-height: 1.80857;*/
    font-weight: normal;
    overflow-x: hidden;
    margin-top: -20px;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0;
}

.header_section {
    width: 100%;
    float: left;
    /*background-image: url(../images/banner-bg.png);*/
    background: rgb(206, 235, 237);
    height: auto;
    background-size: 100%;
    padding: 10px 0 25px 0;
}

.logo {
    float: left;
}

.logo img {
    filter: brightness(130%);
}

.bg-light {
    background-color: transparent !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    color: #272a2a;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #15e4d0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #272a2a;
    margin-top: 20px;
    /*    color: #15e4d0; hover*/
    /*padding: .5rem 70px;*/
}

/*.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #15e4d0;
    font-weight: bold;
    font-size: 20px;
}*/


/*.navbar-toggler {*/
/*    float: right;*/
/*}*/

/*.navbar ul {*/
/*    float: right;*/
/*}*/

/*.navbar-collapse {*/
/*    float: right;*/
/*}*/

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.images_1 {
    padding-top: 50px;
    display: block;
}

.images_1 img {
    position: relative;
    top: 30px;
    filter: brightness(125%);
    box-shadow: rgba(100, 100, 111, 0.35) 0 7px 29px 0;
    margin-left: auto;
    display: block;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #15e4d0;
    font-weight: bold;
    line-height: 75px;
    padding-top: 100px;
}

.btn_main {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #4bc5b8;
    text-align: center;
    padding: 10px 0;
}

.contact_bt {
    width: 200px;
    float: left;
    margin-left: 15px;
    min-width: 180px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #252525;
    text-align: center;
    padding: 10px 0;
}

.contact_bt a:hover {
    color: #f6f8f8;
    background-color: #4bc5b8;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 200px;
    top: 85%;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 120px;
    top: 85%;
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    border: 4px solid #000;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}

.health_section {
    width: 98%;
    float: left;
    padding-bottom: 60px;
}

.health_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #252525;
    font-weight: bold;
}

h3.health_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #252525;
    font-weight: bold;
}
.health_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #252525;
    line-height: 1.8;
    margin: 15px 0 0;
}

.image_main {
    width: 100%;
    position: relative;
}

.image_main:after {
    content: '';
    position: absolute;
    background-color: #cfedf0;
    height: 450px;
    width: 300px;
    left: 0;
    right: initial;
    z-index: -1;
    margin: 0 auto;
    top: -40px;
}

.main {
    margin: 40px 0 0 40px;
    position: relative;
}

.main::after {
    content: '';
    position: absolute;
    background-color: rgba(27, 236, 222, 0.5);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

/*.main:hover::after {*/
/*    background-color: rgba(27, 236, 222, 0.5);*/
/*    display: block;*/
/*}*/

.image {
    opacity: 1;
    display: block;
    /*width: 100%;*/
    /*height: auto;*/
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image_main:hover .image {
    background-color: rgba(27, 236, 222, 0.5);
}

.image_main:hover .middle {
    opacity: 1;
}

.text {
    background-color: #252525;
    color: white;
    font-size: 16px;
    padding: 32px 32px;
    border-radius: 100px;
}

.image_main_1 {
    width: 100%;
    position: relative;
}

.image_main_1:hover .image {
    background-color: rgba(27, 236, 222, 0.5);
}

.image_main_1:hover .middle {
    opacity: 1;
}

.getquote_bt_1 a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0;
    text-align: center;
}

.getquote_bt_1 a:hover {
    background-color: #252525;
}


@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.news_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.news_section_2 {
    width: 100%;
    float: left;
}

.grid-parent > div, .grid-parent > .grid-parent .box_main {
    height: 110px;
}

@media (min-width: 991px) {
    .grid-wrapper {
        display: block;
        width: 100%;
        position: relative;
    }

    .grid-parent {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
    }

    .grid-parent > div, .grid-parent > .grid-parent .box_main {
        height: 150px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 4;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 2 / 2 / 3 / 4;
    }

    .div5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .div7 {
        grid-area: 3 / 3 / 4 / 4;
    }
}


.box_main {
    width: 100%;
    float: left;
    /*background-color: #252525;*/
    /*background-color: rgba(27, 236, 222, 0.5);*/
    background-color: #cfedf0;
    /*border: 4px solid #4bc5b8;*/
    height: 100%;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.box_main h4 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 21px;
    display: block;
}



@media (max-width: 767px) {
    .box_main h4 {
        font-size: 18px;
    }
}


.box_main:hover {
    background-color: #1becde;
}

.box_main.active {
    background-color: #1becde;
}


.getquote_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0;
    text-align: center;
    margin-top: 50px;
}

.getquote_bt a:hover {
    background-color: #252525;
}

.contact_section {
    width: 100%;
    float: left;
    /*background-image: url(../images/contact-bg.png);*/
    background: rgb(206, 235, 237);
    background-size: 100%;
    padding-bottom: 150px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 45px;
    color: #030202;
    font-weight: bold;
}

.icon_main {
    width: 100%;
    display: flex;
    padding-top: 50px;
}

.icon_7 {
    width: 20%;
    float: left;
}

.diabetes_text {
    width: 70%;
    float: left;
    font-size: 27px;
    color: #040101;
    font-weight: 500;
    margin-top: 12px;
}
@media (min-width: 767px) {
    .diabetes_text.not {
        position: relative;
        top: -15px;
    }
}
@media (min-width: 991px) {
    .diabetes_text.not {
        position: relative;
        top: -25px;
    }
}
.contact_box {
    width: 100%;
    float: left;
    background-color: #f1fafb;
    height: auto;
    padding: 30px;
    display: block;
}

.contact_box h3 {
    text-align: center;
    font-size: 27px;
    color: #252525;
}

.contact_box.first {
    margin-bottom: 30px;
}

.book_text {
    width: 100%;
    float: left;
    font-size: 25px;
    color: #252525;
    text-align: center;
    font-weight: 500;
}

.contact_box.first.book_text {
    font-size: 23px;
}

@media (max-width: 991px) {
    .contact_box h3 {
        text-align: center;
        font-size: 21px;
        color: #252525;
    }

    .contact_box.book_text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .contact_box.first {
        margin-top: 100px;
    }
}

.send_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #1becde;
    padding: 7px 0;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.send_bt a:hover {
    background-color: #252525;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background-color: #19e9d9;
    color: #ffffff;
}

#my_slider a.carousel-control-next {
    position: absolute;
    left: 490px;
    top: 70%;
    background-color: #19e9d9;
    color: #ffffff;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: 490px;
    top: 84%;
    background-color: #252525;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background-color: #252525;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #19e9d9;
    text-align: center;
    padding: 7px 0;
    text-transform: uppercase;
}

.social_icon ul {
    margin: 0;
    padding: 0;
}

.social_icon li {
    float: left;
    padding-right: 10px;
    padding-top: 20px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-left: 0;
    color: #fff;
    text-align: center;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:last-of-type {
    text-decoration: underline !important;
}

.copyright_text a:hover {
    color: #19e9d9;
}
#impressum {
    margin-top: 0;
}

#impressum h1 {
    margin-top: 100px;
}

#impressum p {
    margin-left: 0;
}
#datenschutz {
    margin-top: 70px;
}

#datenschutz a {
    width: 300px;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #252525;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 100px;
}

#datenschutz a:hover {
    color: #f6f8f8;
    background-color: #4bc5b8;
}